.moreSpace {
    margin-top: 12%;
}

body {
    background-color: rgb(116, 148, 207);
}

.head {
    background-color: rgba(116, 148, 207, .5);
}

.slack {
    color: black;
}

.moreMargin {
    margin-left: 10%;
}

.space1 {
    margin-top: 60px;
}

.space2 {
    margin-top: 15px;
}

.btn-primary {
    background-color: rgba(116, 148, 207, 0.5);
    border: none;
}

.btn-primary:hover {
    background-color: rgba(7, 71, 110, 0.5);

}

.btn-primary:focus {
    background-color: rgba(116, 148, 207, 0.5);
}

.color {
    background-color: rgba(116, 148, 207, 0.5);
}

.color:hover {
    background-color: rgba(0, 50, 143, 0.5);
}

.blue {
    background-color: rgba(116, 148, 207, 0.5);
}

.back {
    background-color: white;
    color: black;
}

.text-dark {
    color: black;
}

a {
    color: cadetblue;
}

.navbar-dark {
    background-color: rgb(116, 148, 207);
}

.card1 {
    border: none;
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    background-color: rgb(116, 148, 207);
}

.backgt {
    background-color: rgb(116, 148, 207);
}

.biggerLetters {
    font-size: 2em;
}

.moreMargin {
    margin-bottom: 0px;
    margin-top: 70px;
}

.space2 {
    margin-top: 100px;
}

.left {
    margin: auto;
}

.bigLogo {
    font-size: 3rem;
}

.house {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq7B6Nik9WMWIq2OFKc6z1ll8tXTyQMIPGnw&usqp=CAU");
    background-repeat: no-repeat;
}